name: Send message

on:
  workflow_dispatch:
    inputs:
      message:
        description: 'Message'
        required: true
      room:
        description: 'Room'
        required: false
        default: '152883'
jobs:
  send_message:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install required packages
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt

      - name: Send Message
        run: python3 sendmsg.py
        env:
          email: ${{ secrets.BOT_EMAIL }}
          password: ${{ secrets.BOT_PASSWORD }}
          message: ${{ inputs.message }}
          room: ${{ inputs.room }}
